@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Here at Point Roberts Software, we're all about the privacy. We promise we won't look at yours if you aren't looking at ours.</p>
